#undef FOUND_COMPILER

#ifdef SGIArchitecture
CXX = CC
CC = $(CXX)
#define FOUND_COMPILER
#endif

#ifdef SparcArchitecture
CXX = CC
CC = $(CXX)
#define FOUND_COMPILER
#endif

#ifdef HPArchitecture
CXX = CC
CC = $(CXX)
#define FOUND_COMPILER
#endif

#ifdef AIXArchitecture
CXX = xlC
CC = $(CXX)
EXTRA_FLAGS =  -U__STR__ -D_POSIX_SOURCE
#define FOUND_COMPILER
#endif

#ifdef OSF1Architecture
CXX = cxx
CC = $(CXX)
#define FOUND_COMPILER
#endif

#ifdef LinuxArchitecture
CXX = gcc
CC = $(CXX)
#define FOUND_COMPILER
#endif

#ifdef i386SVR4Architecture
CXX = CC
CC = $(CXX)
CCOPTIONS=
#define COMPILER_FOUND
#endif

#ifndef FOUND_COMPILER
CXX = gcc
CC = $(CXX)
#endif

#include "C++.rules"
