[submodule "3rdparty/catch"]
	path = 3rdparty/catch
	url = https://github.com/wxWidgets/Catch.git
	branch = wx
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/wxWidgets/zlib.git
	branch = wx
[submodule "src/png"]
	path = src/png
	url = https://github.com/MaartenBent/libpng.git
	branch = wx-png-v1.6.55
[submodule "src/expat"]
	path = src/expat
	url = https://github.com/MaartenBent/libexpat.git
	branch = wx-expat-v2.7.4
[submodule "src/tiff"]
	path = src/tiff
	url = https://github.com/wxWidgets/libtiff.git
	branch = wx
[submodule "src/jpeg"]
	path = src/jpeg
	url = https://github.com/MaartenBent/libjpeg-turbo.git
	branch = wx-jpeg-v10
[submodule "3rdparty/pcre"]
	path = 3rdparty/pcre
	url = https://github.com/wxWidgets/pcre.git
	branch = wx
[submodule "3rdparty/nanosvg"]
	path = 3rdparty/nanosvg
	url = https://github.com/wxWidgets/nanosvg.git
	branch = wx
[submodule "src/stc/scintilla"]
	path = src/stc/scintilla
	url = https://github.com/wxWidgets/scintilla.git
	branch = wx
[submodule "src/stc/lexilla"]
	path = src/stc/lexilla
	url = https://github.com/wxWidgets/lexilla.git
	branch = wx
[submodule "3rdparty/libwebp"]
	path = 3rdparty/libwebp
	url = https://github.com/wxWidgets/libwebp.git
	branch = wx
[submodule "3rdparty/lunasvg"]
	path = 3rdparty/lunasvg
	url = https://github.com/MaartenBent/lunasvg.git
	branch = wx-lunasvg-v3.5.0
