# /
/.gdb_history
/config.cache
/configarg.cache
/config.status
/wx-config
/config.log
/stamp-h.in
/Makefile
/setup.h
/*tags
/autom4te.cache

# /build/

# /build/bakefiles/
/build/bakefiles/.bakefile_gen.state
/build/bakefiles/Bakefiles.local.bkgen
/build/bakefiles/wxwin.pyc
/build/bakefiles/wxpresets/presets/wx_presets.pyc

# /build/msw/
/build/msw/.m*
/build/msw/config.dmc
/build/msw/makefile.dmc
/build/msw/*c*_msw
/build/msw/*c*_msw_x64
/build/msw/*c*_msw_arm
/build/msw/*c*_msw_arm64
/build/msw/*c*_msw[du]
/build/msw/*c*_msw[du]_x64
/build/msw/*c*_msw[du]_arm
/build/msw/*c*_msw[du]_arm64
/build/msw/*c*_mswud
/build/msw/*c*_mswud_x64
/build/msw/*c*_mswud_arm
/build/msw/*c*_mswud_arm64
/build/msw/*c*_mswdll
/build/msw/*c*_mswdll_x64
/build/msw/*c*_mswdll_arm
/build/msw/*c*_mswdll_arm64
/build/msw/*c*_msw[du]dll
/build/msw/*c*_msw[du]dll_x64
/build/msw/*c*_msw[du]dll_arm
/build/msw/*c*_msw[du]dll_arm64
/build/msw/*c*_mswuddll
/build/msw/*c*_mswuddll_x64
/build/msw/*c*_mswuddll_arm
/build/msw/*c*_mswuddll_arm64
/build/msw/*c*_mswuniv
/build/msw/*c*_mswuniv_x64
/build/msw/*c*_mswuniv_arm
/build/msw/*c*_mswuniv_arm64
/build/msw/*c*_mswuniv[du]
/build/msw/*c*_mswuniv[du]_x64
/build/msw/*c*_mswuniv[du]_arm
/build/msw/*c*_mswuniv[du]_arm64
/build/msw/*c*_mswunivud
/build/msw/*c*_mswunivud_x64
/build/msw/*c*_mswunivud_arm
/build/msw/*c*_mswunivud_arm64
/build/msw/*c*_mswunivdll
/build/msw/*c*_mswunivdll_x64
/build/msw/*c*_mswunivdll_arm
/build/msw/*c*_mswunivdll_arm64
/build/msw/*c*_mswuniv[du]dll
/build/msw/*c*_mswuniv[du]dll_x64
/build/msw/*c*_mswuniv[du]dll_arm
/build/msw/*c*_mswuniv[du]dll_arm64
/build/msw/*c*_mswunivuddll
/build/msw/*c*_mswunivuddll_x64
/build/msw/*c*_mswunivuddll_arm
/build/msw/*c*_mswunivuddll_arm64
/build/msw/*c*_mswhdll
/build/msw/*c*_mswhdll_x64
/build/msw/*c*_mswhdll_arm
/build/msw/*c*_mswhdll_arm64
/build/msw/*c*_mswuhdll
/build/msw/*c*_mswuhdll_x64
/build/msw/*c*_mswuhdll_arm
/build/msw/*c*_mswuhdll_arm64
/build/msw/wx_local.props

/build/msw/*.vcproj.*.user
/build/msw/*.vcxproj.user
/build/msw/vc*_mswud
/build/msw/ipch/
/build/msw/*.opensdf
/build/msw/*.sdf
/build/msw/*.VC.db
/build/msw/*.VC.VC.opendb
/build/msw/*.suo
/build/msw/.vs/

# /build/osx
**/xcuserdata/
**/DerivedData/
/build/osx/build
/build/osx/setup/cocoa/include/wx/setup.h
/build/osx/setup/iphone/include/wx/setup.h

# /demos/
/demos/*/*.sln
/demos/*/*c*_msw
/demos/*/*c*_msw_x64
/demos/*/*c*_msw_arm
/demos/*/*c*_msw_arm64
/demos/*/*c*_msw[du]
/demos/*/*c*_msw[du]_x64
/demos/*/*c*_msw[du]_arm
/demos/*/*c*_msw[du]_arm64
/demos/*/*c*_mswud
/demos/*/*c*_mswud_x64
/demos/*/*c*_mswud_arm
/demos/*/*c*_mswud_arm64
/demos/*/*c*_mswdll
/demos/*/*c*_mswdll_x64
/demos/*/*c*_mswdll_arm
/demos/*/*c*_mswdll_arm64
/demos/*/*c*_msw[du]dll
/demos/*/*c*_msw[du]dll_x64
/demos/*/*c*_msw[du]dll_arm
/demos/*/*c*_msw[du]dll_arm64
/demos/*/*c*_mswuddll
/demos/*/*c*_mswuddll_x64
/demos/*/*c*_mswuddll_arm
/demos/*/*c*_mswuddll_arm64
/demos/*/*c*_mswuniv
/demos/*/*c*_mswuniv_x64
/demos/*/*c*_mswuniv_arm
/demos/*/*c*_mswuniv_arm64
/demos/*/*c*_mswuniv[du]
/demos/*/*c*_mswuniv[du]_x64
/demos/*/*c*_mswuniv[du]_arm
/demos/*/*c*_mswuniv[du]_arm64
/demos/*/*c*_mswunivud
/demos/*/*c*_mswunivud_x64
/demos/*/*c*_mswunivud_arm
/demos/*/*c*_mswunivud_arm64
/demos/*/*c*_mswunivdll
/demos/*/*c*_mswunivdll_x64
/demos/*/*c*_mswunivdll_arm
/demos/*/*c*_mswunivdll_arm64
/demos/*/*c*_mswuniv[du]dll
/demos/*/*c*_mswuniv[du]dll_x64
/demos/*/*c*_mswuniv[du]dll_arm
/demos/*/*c*_mswuniv[du]dll_arm64
/demos/*/*c*_mswunivuddll
/demos/*/*c*_mswunivuddll_x64
/demos/*/*c*_mswunivuddll_arm
/demos/*/*c*_mswunivuddll_arm64
/demos/*/*Classic?Debug*
/demos/*/*Classic?Release*
/demos/*/*Carbon?Debug*
/demos/*/*Carbon?Release*

# /demos/bombs/
/demos/bombs/bombsM5.mcp
/demos/bombs/bombsM*Data

# /demos/forty/
/demos/forty/fortyM5.mcp
/demos/forty/fortyM*Data

# /demos/fractal/
/demos/fractal/fractalM5.mcp
/demos/fractal/fractalM*Data

# /demos/life/
/demos/life/lifeM5.mcp
/demos/life/lifeM*Data

# /demos/poem/
/demos/poem/poemM5.mcp
/demos/poem/poemM*Data

# /distrib/release/
/distrib/release

# /docs/doxygen/
/docs/doxygen/out

# /include/
/include/Makefile.in
/include/*.mch

# /include/wx/
/include/wx/Makefile.in

# /include/wx/generic/
/include/wx/generic/Makefile.in

# /include/wx/gtk/
/include/wx/gtk/Makefile.in

# /include/wx/html/
/include/wx/html/Makefile.in

# /include/wx/msw/
/include/wx/msw/Makefile.in
/include/wx/msw/Makefile

# /include/wx/protocol/
/include/wx/protocol/Makefile.in

# /include/wx/unix/
/include/wx/unix/Makefile.in

# /lib/
/lib/base
/lib/based
/lib/basedll
/lib/basedll[du]
/lib/basedllud
/lib/baseu
/lib/baseud
/lib/bcc_lib
/lib/cdef*.res
/lib/dmc_lib
/lib/expat*.lib
/lib/gcc*_dll
/lib/gcc_dll32
/lib/gcc_dll64
/lib/gcc*_lib
/lib/gcc_lib32
/lib/gcc_lib64
/lib/jpeg*.lib
/lib/ldef*.res
/lib/[Ll]inux
/lib/linux-gnu
/lib/msw
/lib/mswd
/lib/mswdll
/lib/mswdll[du]
/lib/mswdllud
/lib/mswu
/lib/mswud
/lib/png*.lib
/lib/regex*.lib
/lib/tiff*.lib
/lib/univ
/lib/univd
/lib/univdll
/lib/univdlld
/lib/vc*_dll
/lib/vc*_lib
/lib/wx_*.rsrc
/lib/wxbase*.dll
/lib/wxbase*.exp
/lib/wxbase*.ilk
/lib/wxbase*.lib
/lib/wxmsw*.dll
/lib/wxmsw*.exp
/lib/wxmsw*.ilk
/lib/wxmsw*.lib
/lib/zlib*.lib

# /locale/
/locale/*.mo

# /locale/msw/
/locale/msw/*.mo

# /samples/
/samples/**/*c*_msw
/samples/**/*c*_msw_x64
/samples/**/*c*_msw_arm
/samples/**/*c*_msw_arm64
/samples/**/*c*_msw[du]
/samples/**/*c*_msw[du]_x64
/samples/**/*c*_msw[du]_arm
/samples/**/*c*_msw[du]_arm64
/samples/**/*c*_mswud
/samples/**/*c*_mswud_x64
/samples/**/*c*_mswud_arm
/samples/**/*c*_mswud_arm64
/samples/**/*c*_mswdll
/samples/**/*c*_mswdll_x64
/samples/**/*c*_mswdll_arm
/samples/**/*c*_mswdll_arm64
/samples/**/*c*_msw[du]dll
/samples/**/*c*_msw[du]dll_x64
/samples/**/*c*_msw[du]dll_arm
/samples/**/*c*_msw[du]dll_arm64
/samples/**/*c*_mswuddll
/samples/**/*c*_mswuddll_x64
/samples/**/*c*_mswuddll_arm
/samples/**/*c*_mswuddll_arm64
/samples/**/*c*_mswuniv
/samples/**/*c*_mswuniv_x64
/samples/**/*c*_mswuniv_arm
/samples/**/*c*_mswuniv_arm64
/samples/**/*c*_mswuniv[du]
/samples/**/*c*_mswuniv[du]_x64
/samples/**/*c*_mswuniv[du]_arm
/samples/**/*c*_mswuniv[du]_arm64
/samples/**/*c*_mswunivud
/samples/**/*c*_mswunivud_x64
/samples/**/*c*_mswunivud_arm
/samples/**/*c*_mswunivud_arm64
/samples/**/*c*_mswunivdll
/samples/**/*c*_mswunivdll_x64
/samples/**/*c*_mswunivdll_arm
/samples/**/*c*_mswunivdll_arm64
/samples/**/*c*_mswuniv[du]dll
/samples/**/*c*_mswuniv[du]dll_x64
/samples/**/*c*_mswuniv[du]dll_arm
/samples/**/*c*_mswuniv[du]dll_arm64
/samples/**/*c*_mswunivuddll
/samples/**/*c*_mswunivuddll_x64
/samples/**/*c*_mswunivuddll_arm
/samples/**/*c*_mswunivuddll_arm64

# /samples/image/
/samples/image/saved.xpm
/samples/image/test.png
/samples/image/test.xpm

# /src/
/src/FreeBSD
/src/[Ll]inux
/src/linux-gnu
/src/Makefile.in
/src/*.lo
/src/*.la
/src/make.env
/src/makeprog.env
/src/makelib.env
/src/ReleaseDebug
/src/wxwindowsM*Data
/src/wxwindowsM5.mcp
/src/build
/src/*.ncb
/src/*.opt
/src/*.plg

/3rdparty/cef

# /src/common/
/src/common/y_tab.c

# /src/gtk/
/src/gtk/Makefile.in
/src/gtk/*.lo
/src/gtk/*.la

# /src/jpeg/
/src/jpeg/jpegM*Data
/src/jpeg/jpegM5.mcp
/src/jpeg/Debug
/src/jpeg/Release

# /src/msw/
/src/msw/Makefile.in

# /src/zlib/
/src/zlib/zlibM*Data
/src/zlib/zlibM5.mcp
/src/zlib/Debug
/src/zlib/Release

# /tests/
/tests/*c*_msw
/tests/*c*_msw_x64
/tests/*c*_msw_arm
/tests/*c*_msw_arm64
/tests/*c*_msw[du]
/tests/*c*_msw[du]_x64
/tests/*c*_msw[du]_arm
/tests/*c*_msw[du]_arm64
/tests/*c*_mswud
/tests/*c*_mswud_x64
/tests/*c*_mswud_arm
/tests/*c*_mswud_arm64
/tests/*c*_mswdll
/tests/*c*_mswdll_x64
/tests/*c*_mswdll_arm
/tests/*c*_mswdll_arm64
/tests/*c*_msw[du]dll
/tests/*c*_msw[du]dll_x64
/tests/*c*_msw[du]dll_arm
/tests/*c*_msw[du]dll_arm64
/tests/*c*_mswuddll
/tests/*c*_mswuddll_x64
/tests/*c*_mswuddll_arm
/tests/*c*_mswuddll_arm64
/tests/*c*_mswuniv
/tests/*c*_mswuniv_x64
/tests/*c*_mswuniv_arm
/tests/*c*_mswuniv_arm64
/tests/*c*_mswuniv[du]
/tests/*c*_mswuniv[du]_x64
/tests/*c*_mswuniv[du]_arm
/tests/*c*_mswuniv[du]_arm64
/tests/*c*_mswunivud
/tests/*c*_mswunivud_x64
/tests/*c*_mswunivud_arm
/tests/*c*_mswunivud_arm64
/tests/*c*_mswunivdll
/tests/*c*_mswunivdll_x64
/tests/*c*_mswunivdll_arm
/tests/*c*_mswunivdll_arm64
/tests/*c*_mswuniv[du]dll
/tests/*c*_mswuniv[du]dll_x64
/tests/*c*_mswuniv[du]dll_arm
/tests/*c*_mswuniv[du]dll_arm64
/tests/*c*_mswunivuddll
/tests/*c*_mswunivuddll_x64
/tests/*c*_mswunivuddll_arm
/tests/*c*_mswunivuddll_arm64
/tests/test.opt
/tests/test*.dsw
/tests/test.suo
/tests/test_test.vcproj

# /tests/benchmarks/
/tests/benchmarks/*.sln
/tests/benchmarks/*c*_msw*/

# /utils/
/utils/**/*c*_mswu
/utils/**/*c*_mswu_x64
/utils/**/*c*_mswu_arm
/utils/**/*c*_mswu_arm64
/utils/**/*c*_mswud
/utils/**/*c*_mswud_x64
/utils/**/*c*_mswud_arm
/utils/**/*c*_mswud_arm64
/utils/**/*c*_mswudll
/utils/**/*c*_mswudll_x64
/utils/**/*c*_mswudll_arm
/utils/**/*c*_mswudll_arm64
/utils/**/*c*_mswuddll
/utils/**/*c*_mswuddll_x64
/utils/**/*c*_mswuddll_arm
/utils/**/*c*_mswuddll_arm64

# /utils/emulator/src/
/utils/emulator/src/*.sln

# /utils/helpview/src/
/utils/helpview/src/*.sln

# /utils/hhp2cached/
/utils/hhp2cached/*.sln
/utils/hhp2cached/HHP2CachedM*Data
/utils/hhp2cached/*Classic?Debug*
/utils/hhp2cached/*Classic?Release*
/utils/hhp2cached/*Carbon?Debug*
/utils/hhp2cached/*Carbon?Release*

# /utils/wxrc/
/utils/wxrc/wxrc_vc[789].sln

/3rdparty/webview2
