[submodule "3rdparty/catch"]
	path = 3rdparty/catch
	url = https://github.com/wxWidgets/Catch.git
	branch = wx
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/wxWidgets/zlib.git
	branch = wx
[submodule "src/png"]
	path = src/png
	url = https://github.com/wxWidgets/libpng.git
	branch = wx
[submodule "src/expat"]
	path = src/expat
	url = https://github.com/wxWidgets/libexpat.git
	branch = wx
[submodule "src/tiff"]
	path = src/tiff
	url = https://github.com/wxWidgets/libtiff.git
	branch = wx
[submodule "src/jpeg"]
	path = src/jpeg
	url = https://github.com/wxWidgets/libjpeg-turbo.git
	branch = wx
