AliKet								<aliket1435@gmail.com>
Anil Kumar		<Anil.Kumar@efi.com>			<anilkumar8753@gmail.com>
ARATA Mizuki							<minorinoki@gmail.com>
Artur Sochirca		<arturs@bricsys.com>			<arturs@trac.wxwidgets.org>
Artur Wieczorek		<7330332+a-wi@users.noreply.github.com>	<artwik@wp.pl>
Daniel Kulp		<dan@kulp.com>				<dkulp@apache.org>
Blake Eryx		<seasweptdreams@gmail.com>		<Blake-Eryx@users.noreply.github.com>
Bogdan Iordanescu						<bogdan_iordanescu@yahoo.com>
Cătălin Răceanu							<maildus@gmail.com>
			<maildus@gmail.com>			<catalinr@users.noreply.github.com>
			<maildus@gmail.com>			<catalinraceanu2@gmail.com>
Danny Scott							<doscott@doscott.ca>
			<doscott@doscott.ca>			<doscott@gmail.com>
			<doscott@doscott.ca>			<d.o.scott@unb.ca>
Dimitri Schoolwerth	<dimitri.schoolwerth@gmail.com>		<dimitri@schoolwerth.com>
Hashir Ahmad							<hashirahmadleo@gmail.com>
Frédéric Bron		<frederic.bron@m4x.org>			<ufospoke@gmail.com>
Hubert Talbot							<hubert.talbot64@gmail.com>
Igor Korot							<ikorot01@gmail.com>
Ilya Bizyaev							<bizyaev.game@yandex.ru>
Jens Göpfert		<jens.goepfert@tracetronic.de>		<jensgoe@users.noreply.github.com>
John Roberts		<johnr@iinet.net.au>			<johnr@jjbone.com>
Jouk Jansen							<joukj@hrem.nano.tudelft.nl>
Jose Lorenzo		<josee.loren@gmail.com>			<isleo11@gmail.com>
Julian Smart							<julian@anthemion.co.uk>
Jevgenijs Protopopovs						<jprotopopov1122@gmail.com>
Gérard Durand							<gerard-florence.durand@orange.fr>
Gérard Durand		<gerard-florence.durand@orange.fr>	<46453025+gerard-durand@users.noreply.github.com>
Hartwig Wiesmann	<git@skywind.eu>
			<git@skywind.eu>			<hartwig.wiesmann@wanadoo.nl>
Kinaou Hervé							<kinaouherve@gmail.com>
Kolya Kosenko		<kolya.kosenko@gmail.com>		<kosenko@trac.wxwidgets.org>
Konstantin S. Matveyev	<kos@eligovision.ru>			<konstantin.matveyev@eligovision.ru>
Konstantin S. Matveyev	<kos@eligovision.ru>			valid-ptr	<kos@eligovision.ru>
Lauri Nurmi		<lanurmi@iki.fi>			<lauri@ksenos.fi>
Lynn C. Rees							<lcrees@gmail.com>
Maarten Bent							<MaartenBent@users.noreply.github.com>
Manuel Martin							<mmartin@ceyd.es>
Markus Juergens		<mj@be-enabled.de>			<markusj@trac.wxwidgets.org>
Martin Ettl							<ettl.martin78@googlemail.com>
Martin Ettl		<ettl.martin78@googlemail.com>		<ettl.martin78@gmail.com>
Martin Ettl		<ettl.martin78@googlemail.com>		<orbitcowboy@web.de>
Mathew Maidment							<mathew1800@gmail.com>
Micha Ahrweiler							<mbaschnitzi@users.noreply.github.com>
ousnius			<ousnius@users.noreply.github.com>	<denis41@hotmail.de>
Paul Kulchenko		<paul@kulchenko.com>			<paulclinger@gmail.com>
Pavel O.							<pavelxdd@users.noreply.github.com>
Pavel O.		<pavelxdd@users.noreply.github.com>	<pavel.otchertsov@gmail.com>
Pavel Tyunin							<36256989+pavel-t@users.noreply.github.com>
PB			<PBfordev@gmail.com>			<pbfordev@gmail.com>
			<PBfordev@gmail.com>			<PBforDev@gmail.com>
Prashant Kumar Nirmal	<prashantkn94@gmail.com>		<ohhereim@gmail.com>
René Kijewski		<rene.kijewski@fu-berlin.de>		<kijewski@mi.fu-berlin.de>
Richard Fath							<richard.fath@t-online.de>
Richard Powell							<rmpowell77@me.com>
Rick S			<rivdsl@gmail.com>			<rivdsl@hotmail.com>
Roberto Boriotti	<roberto.boriotti@canon-europe.com>
Steffen Olszewski	<steffen.olszewski@gero-mess.de>	<sodev@trac.wxwidgets.org>
Steve Browne		<swbrowne@gmail.com>			<sbrowne@unknown>
			<swbrowne@gmail.com>			<amn3sia@gmail.com>
Tim Kosse		<tim.kosse@gmx.de>			<tim.kosse@filezilla-project.org>
Tim Stahlhut		<stahta01@gmail.com>
Tim Stahlhut		<stahta01@gmail.com>			<stahta01@users.sourceforge.net>
Tim Stahlhut		<stahta01@gmail.com>			<stahta01@users.noreply.github.com>
Tobias Taschner		<ttaschner@protect-software.com>	<TcT2k@users.noreply.github.com>
			<ttaschner@protect-software.com>	<github@tc84.de>
Václav Slavík		<vaclav@slavik.io>			<vslavik@fastmail.fm>
Václav Slavík							<vaclav@slavik.io>
Vadim Zeitlin		<vadim@wxwidgets.org>			<vz-github@zeitlins.org>
			<vadim@wxwidgets.org>			<vadim@zeitlins.org>
Wolfgang Stöggl		<c72578@yahoo.de>
Xlord2			<b1146285@trbvn.com>			<b1223723@trbvn.com>
Iwbnwif Yiw							<iwbnwif@gmail.com>
