# This is the control file for Travis continuous integration system.
#
# It is used automatically for the repositories on Github if it's found in the
# root directory of the project.
language: cpp
sudo: required

matrix:
    include:
        - compiler: gcc
        - compiler: gcc
          env: wxCONFIGURE_FLAGS="--disable-precomp-headers --enable-monolithic"
        - dist: trusty
          compiler: gcc
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--enable-cxx11 --enable-stl" wxMAKEFILE_FLAGS="CXXFLAGS=-std=c++11"
        - dist: trusty
          compiler: clang
          env: wxCONFIGURE_FLAGS="--disable-shared"
        - os: osx
          osx_image: xcode6.4
          compiler: clang
          env: wxCONFIGURE_FLAGS="--enable-cxx11" wxMAKEFILE_FLAGS="CXXFLAGS=-std=c++11" wxSKIP_SAMPLES=1

branches:
    only:
        - master
        - WX_3_0_BRANCH

notifications:
    email:
        recipients:
            - vadim@wxwidgets.org
        on_success: change
        on_failure: change

before_install: ./build/tools/before_install.sh

script:
    - set -e && echo 'Configuring...' && echo -en 'travis_fold:start:script.configure\\r'
    - ./configure --disable-optimise $wxCONFIGURE_FLAGS
    - echo -en 'travis_fold:end:script.configure\\r'
    - echo 'Building...' && echo -en 'travis_fold:start:script.build\\r'
    - make
    - echo -en 'travis_fold:end:script.build\\r'
    - echo 'Testing...' && echo -en 'travis_fold:start:script.test\\r'
    - make -C tests && pushd tests && ./test -t && popd
    - echo -en 'travis_fold:end:script.test\\r'
    - echo 'Building samples...' && echo -en 'travis_fold:start:script.samples\\r'
    - (test "$wxSKIP_SAMPLES" && echo 'SKIPPED') || make samples
    - echo -en 'travis_fold:end:script.samples\\r'
    - echo 'Installing...' && echo -en 'travis_fold:start:script.install\\r'
    - sudo make install
    - echo -en 'travis_fold:end:script.install\\r'
    - echo 'Testing installation...' && echo -en 'travis_fold:start:script.testinstall\\r'
    - make -C samples/minimal -f makefile.unx clean
    - make -C samples/minimal -f makefile.unx $wxMAKEFILE_FLAGS
    - echo -en 'travis_fold:end:script.testinstall\\r'
