# This is the control file for Travis continuous integration system.
#
# It is used automatically for the repositories on Github if it's found in the
# root directory of the project.
language: cpp
sudo: required

matrix:
    include:
        - dist: precise
          compiler: gcc
        - dist: trusty
          compiler: gcc
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--enable-utf8 --enable-utf8only --enable-monolithic"
        - dist: trusty
          compiler: gcc
          env: wxGTK_VERSION=3 wxCONFIGURE_FLAGS="--enable-cxx11 --enable-stl" wxMAKEFILE_FLAGS="CXXFLAGS=-std=c++11"
        - dist: trusty
          compiler: clang
          env: wxCONFIGURE_FLAGS="--disable-shared --disable-sys-libs --disable-webview"
        - dist: trusty
          compiler: gcc
          env: wxTOOLSET=cmake wxCMAKE_GENERATOR="Unix Makefiles"
        - os: osx
          osx_image: xcode6.4
          compiler: clang
          env: wxCONFIGURE_FLAGS="--enable-cxx11" wxMAKEFILE_FLAGS="CXXFLAGS=-std=c++11" wxSKIP_SAMPLES=1
        - os: osx
          compiler: clang
          env: wxTOOLSET=cmake wxCMAKE_GENERATOR=Xcode wxCMAKE_DEFINES="-DCMAKE_CXX_STANDARD=11"
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--with-x11 --enable-pch --disable-stc" wxSKIP_SAMPLES=1
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--with-directfb --enable-pch --disable-stc" wxSKIP_SAMPLES=1
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--with-motif --enable-pch --disable-stc" wxSKIP_SAMPLES=1
        - dist: trusty
          compiler: gcc
          env: wxCONFIGURE_FLAGS="--with-qt --enable-pch" wxSKIP_SAMPLES=1

branches:
    only:
        - master
        - WX_3_0_BRANCH

notifications:
    email:
        recipients:
            - vadim@wxwidgets.org
        on_success: change
        on_failure: change

before_install: ./build/tools/before_install.sh

script: bash build/tools/travis-ci.sh
