[Desktop Entry]
Name=PyCrust
Comment=GUI Python Shell with Filling
Exec=pycrust
Icon=PyCrust.png
Terminal=false
Type=Application
Categories=Application;Development;
