
//
// This file contains bitmaps used
// by wxHtmlHelpController
// Include it in your .rc file if you're using wxHTML help system
// (#include "wx/html/msw/wxhtml.rc")
//

wback     BITMAP "wx/html/msw/wback.bmp"
wforward  BITMAP "wx/html/msw/wforward.bmp"
wpanel    BITMAP "wx/html/msw/wpanel.bmp"
woptions  BITMAP "wx/html/msw/woptions.bmp"

wbook     ICON "wx/html/msw/wbook.ico"
wfolder   ICON "wx/html/msw/wfolder.ico"
wpage     ICON "wx/html/msw/wpage.ico"
whelp     ICON "wx/html/msw/whelp.ico"
whlproot  ICON "wx/html/msw/whlproot.ico"
