
//
// This file contains bitmaps used
// by wxHtmlHelpController
// Include it in your .rc file if you're using wxHTML help system
// (#include "wx/html/msw/wxhtml.rc")
//

back     BITMAP "wx/html/msw/back.bmp"
forward  BITMAP "wx/html/msw/forward.bmp"
panel    BITMAP "wx/html/msw/panel.bmp"

book     ICON "wx/html/msw/book.ico"
folder   ICON "wx/html/msw/folder.ico"
page     ICON "wx/html/msw/page.ico"
help     ICON "wx/html/msw/help.ico"
helproot ICON "wx/html/msw/helproot.ico"
