///////////////////////////////////////////////////////////////////////////////
// Name:        src/msw/version.rc
// Purpose:     contains version info resource for wxMSW DLL build
// Author:      Vadim Zeitlin
// Modified by:
// Created:     09.07.00
// RCS-ID:      $Id$
// Copyright:   (c) 2000 Vadim Zeitlin
// Licence:     wxWindows license
///////////////////////////////////////////////////////////////////////////////

#include "wx/version.h"

// see http://msdn.microsoft.com/library/psdk/winui/rc_7x2d.htm for values: we
// don't use symbolic constants because older compilers might not have them
#ifdef WXMAKINGDLL
    #define wxVFT 2 // VFT_DLL
#else
    #define wxVFT 1 // VFT_APP
#endif

#ifdef _DEBUG
    #define DLL_FLAGS 0x1L
    #define DLL_SUFFIX "d"
#else
    #define DLL_FLAGS 0x0L
    #define DLL_SUFFIX ""
#endif

1 VERSIONINFO
 FILEVERSION wxMAJOR_VERSION,wxMINOR_VERSION,wxRELEASE_NUMBER,wxBETA_NUMBER
 PRODUCTVERSION wxMAJOR_VERSION,wxMINOR_VERSION,wxRELEASE_NUMBER,wxBETA_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS DLL_FLAGS
 FILEOS 0x40004L // VOS_NT_WINDOWS32
 FILETYPE wxVFT
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // US English Ascii; see http://msdn.microsoft.com/library/psdk/winui/rc_3rxn.htm for codes
        BLOCK "04090000" 
        BEGIN
            VALUE "Comments", "wxWindows cross-platform GUI framework\0"
            VALUE "CompanyName", "wxWindows development team\0"
            VALUE "FileDescription", "wxWindows for MSW\0"
            VALUE "FileVersion", "wxWindows Library " wxVERSION_NUM_DOT_STRING "\0"
            VALUE "InternalName", "wxMSW\0"
            VALUE "LegalCopyright", "Copyright © 1993-2004 wxWindows development team\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wxmsw" wxVERSION_NUM_STRING DLL_SUFFIX ".dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wxWindows\0"
            VALUE "ProductVersion", wxVERSION_NUM_DOT_STRING "\0"
            VALUE "SpecialBuild", "\0"
        END
        //US English Unicode; see http://msdn.microsoft.com/library/psdk/winui/rc_3rxn.htm for codes
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "wxWindows cross-platform GUI framework\0"
            VALUE "CompanyName", "wxWindows development team\0"
            VALUE "FileDescription", "wxWindows for MSW\0"
            VALUE "FileVersion", "wxWindows Library " wxVERSION_NUM_DOT_STRING "\0"
            VALUE "InternalName", "wxMSW\0"
            VALUE "LegalCopyright", "Copyright © 1993-2004 wxWindows development team\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wxmsw" wxVERSION_NUM_STRING DLL_SUFFIX ".dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wxWindows\0"
            VALUE "ProductVersion", wxVERSION_NUM_DOT_STRING "\0"
            VALUE "SpecialBuild", "\0"
        END
    END
END
