///////////////////////////////////////////////////////////////////////////////
// Name:        src/msw/version.rc
// Purpose:     contains version info resource for wxMSW DLL build
// Author:      Vadim Zeitlin
// Modified by:
// Created:     09.07.00
// RCS-ID:      $Id$
// Copyright:   (c) 2000 Vadim Zeitlin
// Licence:     wxWindows license
///////////////////////////////////////////////////////////////////////////////

#include "wx/version.h"

#define MAKE_STR(x) #x

#ifdef _DEBUG
    #define DLL_FLAGS 0x1L
    #define DLL_SUFFIX "d"
#else
    #define DLL_FLAGS 0x0L
    #define DLL_SUFFIX ""
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION wxMAJOR_VERSION,wxMINOR_VERSION,wxRELEASE_NUMBER,wxBETA_NUMBER
 PRODUCTVERSION wxMAJOR_VERSION,wxMINOR_VERSION,wxRELEASE_NUMBER,wxBETA_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS DLL_FLAGS
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "wxWindows cross-platform GUI framework\0"
            VALUE "CompanyName", "wxWindows development team\0"
            VALUE "FileDescription", "wxWindows for MSW\0"
            VALUE "FileVersion", MAKE_STR(wxMAJOR_VERSION) MAKE_STR(wxMINOR_VERSION) MAKE_STR(wxRELEASE_NUMBER) MAKE_STR(wxBETA_NUMBER) "\0"
            VALUE "InternalName", "wxMSW\0"
            VALUE "LegalCopyright", "Copyright © 1993, 2000 wxWindows development team\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wxmsw" MAKE_STR(wxMAJOR_VERSION) MAKE_STR(wxMINOR_VERSION) MAKE_STR(wxRELEASE_NUMBER) DLL_SUFFIX ".dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wxMSW\0"
            VALUE "ProductVersion", MAKE_STR(wxMAJOR_VERSION) MAKE_STR(wxMINOR_VERSION) MAKE_STR(wxRELEASE_NUMBER) MAKE_STR(wxBETA_NUMBER) "\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
