///////////////////////////////////////////////////////////////////////////////
// Name:        src/msw/version.rc
// Purpose:     contains version info resource for wxMSW DLL build
// Author:      Vadim Zeitlin
// Modified by:
// Created:     09.07.00
// RCS-ID:      $Id$
// Copyright:   (c) 2000 Vadim Zeitlin
// Licence:     wxWindows license
///////////////////////////////////////////////////////////////////////////////

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,2,0,0
 PRODUCTVERSION 2,2,0,0
 FILEFLAGSMASK 0x3fL
#ifdef __WXDEBUG__
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "wxWindows cross-platform GUI framework\0"
            VALUE "CompanyName", "wxWindows development team\0"
            VALUE "FileDescription", "wxWindows for MSW\0"
            VALUE "FileVersion", "2, 2, 0, 0\0"
            VALUE "InternalName", "wxMSW\0"
            VALUE "LegalCopyright", "Copyright © 1993,2000 wxWindows development team\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wx220.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wxMSW\0"
            VALUE "ProductVersion", "2, 2, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
