#include <os2.h>
#include "wxrsc.h"


/*
//////////////////////////////////////////////////////////////////////////////
// This is the MDI Window menu
//////////////////////////////////////////////////////////////////////////////
*/
MENU    ID_WINDOW_MENU  PRELOAD
BEGIN
    SUBMENU "~Window",   131
    BEGIN
        MENUITEM "~Cascade",                    132
        MENUITEM "Tile ~Horizontally",          133
        MENUITEM "Tile ~Vertically",            134
        MENUITEM "",                              -1
        MENUITEM "~Arrange Icons",              135
        MENUITEM "~Next",                       136
    END
END

/*
//////////////////////////////////////////////////////////////////////////////
// Standard winWindows Cursors
//////////////////////////////////////////////////////////////////////////////
*/

POINTER    WINCURSOR_HAND           LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\hand.ptr"
POINTER    WINCURSOR_BULLSEYE       LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\bullseye.ptr"
POINTER    WINCURSOR_PENCIL         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\pencil.ptr"
POINTER    WINCURSOR_MAGNIFIER      LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\magnit1.ptr"
POINTER    WINCURSOR_NO_ENTRY       LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\noentry.ptr"
POINTER    WINCURSOR_SIZING         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\size.ptr"
POINTER    WINCURSOR_ROLLER         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\roller.ptr"
POINTER    WINCURSOR_WATCH          LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\watch.ptr"
POINTER    WINCURSOR_PBRUSH         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\pbrush.ptr"
POINTER    WINCURSOR_PLEFT          LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\pntleft.ptr"
POINTER    WINCURSOR_PRIGHT         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\pntright.ptr"
POINTER    WINCURSOR_QARROW         LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\query.ptr"
POINTER    WINCURSOR_BLANK          LOADONCALL    "\\prj\\win\\code\\z00\\resource\\os2\\blank.ptr"

/*
//////////////////////////////////////////////////////////////////////////////
// Default Icons
//////////////////////////////////////////////////////////////////////////////
*/
/* Standard icons */
ICON       kICON_TIP                    PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\tip.ico"

ICON       kICON_SMALL_CLOSED_FOLDER    PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\folder1.ico"
ICON       kICON_SMALL_OPEN_FOLDER      PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\folder2.ico"
ICON       kICON_SMALL_FILE             PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\file.ico"
ICON       kICON_SMALL_COMPUTER         PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\computer.ico"
ICON       kICON_SMALL_DRIVE            PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\drive.ico"
ICON       kICON_SMALL_CDROM            PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\cdrom.ico"
ICON       kICON_SMALL_FLOPPY           PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\floppy.ico"
ICON       kICON_SMALL_REMOVEABLE       PRELOAD "\\prj\\win\\code\\z00\\resource\\os2\\removble.ico"

/*
//////////////////////////////////////////////////////////////////////////////
// Bitmaps
//////////////////////////////////////////////////////////////////////////////
*/
BITMAP     kDISABLE_BUTTON_BITMAP   LOADONCALL  "\\prj\\win\\code\\z00\\resource\\os2\\disable.bmp"

/*
// For src/generic/proplist.cpp
*/
BITMAP     kTICK_BITMAP              LOADONCALL  "\\prj\\win\\code\\z00\\resource\\os2\\tick.bmp"
BITMAP     kCROSS_BITMAP             LOADONCALL  "\\prj\\win\\code\\z00\\resource\\os2\\cross.bmp"

/*
// For kContextHelpButton
*/
BITMAP     kCSQUERY_BITMAP           LOADONCALL  "\\prj\\win\\code\\z00\\resource\\os2\\csquery.bmp"

/*
// For obtaining the RGB values of standard colours
*/
BITMAP     kBITMAP_STD_COLOURS       LOADONCALL  "\\prj\\win\\code\\z00\\resource\\os2\\colours.bmp"

RCINCLUDE "\DEV\WX2\WXWINDOWS\INCLUDE\WX\OS2\WX.DLG"

