/////////////////////////////////////////////////////////////////////////////
// File:     wx.rc
// Purpose:  wxWindows resource definitions. ALWAYS include
//           this in your application resource file.
//
//                     wxWindows version 2.1.11
//
//                     Author: David Webster
//                       Date: 11-21-99
//
// Permission to use, copy, modify, and distribute this software and its
// documentation for any purpose is hereby granted without fee, provided
// that the above copyright notice, author statement and this permission
// notice appear in all copies of this software and related documentation.
//
// THE SOFTWARE IS PROVIDED "AS-IS" AND WITHOUT WARRANTY OF ANY KIND, EXPRESS,
// IMPLIED OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF
// MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
//
// IN NO EVENT SHALL THE ARTIFICIAL INTELLIGENCE APPLICATIONS INSTITUTE OR THE
// UNIVERSITY OF EDINBURGH BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR
// CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER RESULTING FROM
// LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF
// DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH
// THE USE OR PERFORMANCE OF THIS SOFTWARE.
//
// Version: $Id$
/////////////////////////////////////////////////////////////////////////////

#include <os2.h>

//////////////////////////////////////////////////////////////////////////////
//
// Dummy Dialog for all wxCAPTION Dialog boxes
//

//////////////////////////////////////////////////////////////////////////////
//
// This is the MDI Window menu
//

wxWindowMenu MENU DISCARDABLE
BEGIN
    SUBMENU "&Window"
    BEGIN
        MENUITEM "&Cascade",                    4002
        MENUITEM "Tile &Horizontally",          4001
        MENUITEM "Tile &Vertically",            4005
        MENUITEM "",             0,             MIS_SEPARATOR
        MENUITEM "&Arrange Icons",              4003
        MENUITEM "&Next",                       4004
    END
END

//////////////////////////////////////////////////////////////////////////////
//
// Standard wxWindows Cursors
//

POINTER    WXCURSOR_HAND           LOADONCALL     "wx/os2/hand.ptr"
POINTER    WXCURSOR_BULLSEYE       LOADONCALL     "wx/os2/bullseye.ptr"
POINTER    WXCURSOR_PENCIL         LOADONCALL     "wx/os2/pencil.ptr"
POINTER    WXCURSOR_MAGNIFIER      LOADONCALL     "wx/os2/magnif1.ptr"
POINTER    WXCURSOR_NO_ENTRY       LOADONCALL     "wx/os2/noentry.ptr"
POINTER    WXCURSOR_SIZING         LOADONCALL     "wx/os2/size.ptr"
POINTER    WXCURSOR_ROLLER         LOADONCALL     "wx/os2/roller.ptr"
POINTER    WXCURSOR_WATCH          LOADONCALL     "wx/os2/watch1.ptr"
POINTER    WXCURSOR_PBRUSH         LOADONCALL     "wx/os2/pbrush.ptr"
POINTER    WXCURSOR_PLEFT          LOADONCALL     "wx/os2/pntleft.ptr"
POINTER    WXCURSOR_PRIGHT         LOADONCALL     "wx/os2/pntright.ptr"
POINTER    WXCURSOR_QARROW         LOADONCALL     "wx/os2/query.ptr"
POINTER    WXCURSOR_BLANK          LOADONCALL     "wx/os2/blank.ptr"

//////////////////////////////////////////////////////////////////////////////
//
// Default Icons
//

//ICON     wxDEFAULT_FRAME            PRELOAD "wx/os2/std.ico"
//ICON     wxDEFAULT_MDIPARENTFRAME   PRELOAD "wx/os2/mdi.ico"
//ICON     wxDEFAULT_MDICHILDFRAME    PRELOAD "wx/os2/child.ico"

// Standard icons
ICON       wxICON_QUESTION  PRELOAD "wx/os2/question.ico"
ICON       wxICON_WARNING   PRELOAD "wx/os2/warning.ico"
ICON       wxICON_ERROR     PRELOAD "wx/os2/error.ico"
ICON       wxICON_INFO      PRELOAD "wx/os2/info.ico"
ICON       wxICON_TIP       PRELOAD "wx/os2/tip.ico"

//////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

BITMAP     wxDISABLE_BUTTON_BITMAP   LOADONCALL  "wx/os2/disable.bmp"


// For src/generic/proplist.cpp
BITMAP     tick_bmp                  LOADONCALL  "wx/os2/tick.bmp"
BITMAP     cross_bmp                 LOADONCALL  "wx/os2/cross.bmp"

//////////////////////////////////////////////////////////////////////////////
//
// Main Frame Window menu for wxWindows OS/2
//
//  OS/2 menues must be created from a resource file or binary menu template
//  loaded from a resource file via a DosGetResource call.  To keep interface
//  compatability with other ports the default wxMenu constructor loads the
//  below menu.  Users can them add or delete menu items as they see fit in
//  their own wxMenu derived classes or add them dynamically.
//

MENU IDR_MAIN
{
    SUBMENU     "~File", IDM_FILE, MIS_TEXT
    {
        MENUITEM    "~New",             IDM_FILENEW,        MIS_TEXT
        MENUITEM    "~Open...\tCtrl+O", IDM_FILEOPEN,       MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Save...\tCtrl+O", IDM_FILESAVE,       MIS_TEXT
        MENUITEM    "Save ~as...",      IDM_FILESAVEAS,     MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "E~xit...",         ID_CANCEL,          MIS_TEXT
    }

    SUBMENU     "~Edit", IDM_EDIT, MIS_TEXT
    {
        MENUITEM    "~Undo\tAlt+Backspace",    IDM_EDITUNDO,   MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "Cu~t\tShift+Delete",      IDM_EDITCUT,    MIS_TEXT
        MENUITEM    "~Copy\tCtrl+Insert",      IDM_EDITCOPY,   MIS_TEXT
        MENUITEM    "~Paste\tShift+Insert",    IDM_EDITPASTE,  MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "Cl~ear\tDelete",          IDM_EDITCLEAR,  MIS_TEXT
    }

/*
 * Application specific menus go here.
 */

    SUBMENU     "~Help",    IDM_HELP,   MIS_TEXT
    {
        MENUITEM    "Help ~index",       IDM_HELPINDEX,      MIS_TEXT
        MENUITEM    "~General help",     IDM_HELPGENERAL,    MIS_TEXT
        MENUITEM    "~Using help",       IDM_HELPUSINGHELP,  MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~About",            IDM_HELPABOUT,      MIS_TEXT
    }

}

ACCELTABLE IDR_MAIN
{
    VK_BACKSPACE,   IDM_EDITUNDO,       VIRTUALKEY,    ALT
    VK_DELETE,      IDM_EDITCUT,        VIRTUALKEY,    SHIFT
    VK_INSERT,      IDM_EDITCOPY,       VIRTUALKEY,    CONTROL
    VK_INSERT,      IDM_EDITPASTE,      VIRTUALKEY,    SHIFT
    VK_DELETE,      IDM_EDITCLEAR,      VIRTUALKEY
}

STRINGTABLE
{
    IDS_OPEN                    "Open"
    IDS_SAVE                    "Save"
}


