aaaa                    ICON    "bitmaps/wxconfigtool.ico"

wxconfigtool              ICON    "bitmaps/wxconfigtool.ico"

#define wxUSE_NO_MANIFEST 0

#include "wx/msw/wx.rc"

/* Use if compiling with earlier versions of wxWindows */
/* 1 24 "wxconfigtool.exe.manifest" */

