aaa             ICON "dialoged.ico"
DIALOGEDICON    ICON "dialoged.ico"

aiai_icn                ICON    "aiai.ico"
#include "wx/msw/wx.rc"

DIALOGBOXTOOL   BITMAP "bitmaps/dialog.bmp"
MESSAGETOOL     BITMAP "bitmaps/message.bmp"
BUTTONTOOL      BITMAP "bitmaps/button.bmp"
CHECKBOXTOOL    BITMAP "bitmaps/check.bmp"
RADIOBOXTOOL    BITMAP "bitmaps/radio.bmp"
LISTBOXTOOL     BITMAP "bitmaps/listbox.bmp"
CHOICETOOL      BITMAP "bitmaps/choice.bmp"
TEXTTOOL        BITMAP "bitmaps/text.bmp"
MULTITEXTTOOL   BITMAP "bitmaps/mtext.bmp"
SLIDERTOOL      BITMAP "bitmaps/slider.bmp"
ARROWTOOL       BITMAP "bitmaps/arrow.bmp"
GROUPTOOL       BITMAP "bitmaps/group.bmp"
GAUGETOOL       BITMAP "bitmaps/gauge.bmp"
PICTURETOOL     BITMAP "bitmaps/picture.bmp"
BMPBUTTONTOOL   BITMAP "bitmaps/bmpbuttn.bmp"
SCROLLBARTOOL   BITMAP "bitmaps/scroll.bmp"

NEWTOOL         BITMAP "bitmaps/new.bmp"
LOADTOOL        BITMAP "bitmaps/load.bmp"
SAVETOOL        BITMAP "bitmaps/save.bmp"
VERTTOOL        BITMAP "bitmaps/vert.bmp"
ALIGNTTOOL      BITMAP "bitmaps/alignt.bmp"
ALIGNBTOOL      BITMAP "bitmaps/alignb.bmp"
ALIGNLTOOL      BITMAP "bitmaps/alignl.bmp"
ALIGNRTOOL      BITMAP "bitmaps/alignr.bmp"
HORIZTOOL       BITMAP "bitmaps/horiz.bmp"
HELPTOOL        BITMAP "bitmaps/help.bmp"
COPYSIZETOOL    BITMAP "bitmaps/copysize.bmp"
TOFRONTTOOL     BITMAP "bitmaps/tofront.bmp"
TOBACKTOOL      BITMAP "bitmaps/toback.bmp"

WXWINBMP        BITMAP "bitmaps/wxwin.bmp"

tick_bmp                BITMAP  "bitmaps/tick.bmp"
cross_bmp               BITMAP  "bitmaps/cross.bmp"
