aaa             ICON "bitmaps/dialoged.ico"
DIALOGEDICON    ICON "bitmaps/dialoged.ico"

DIALOG_ICON     ICON "bitmaps/dialog.ico"
FOLDER1_ICON    ICON "bitmaps/folder1.ico"
FOLDER2_ICON    ICON "bitmaps/folder2.ico"
BUTTONSM_ICON   ICON "bitmaps/buttonsm.ico"

/* For control list */
ARROW_ICON      ICON "bitmaps/arrow.ico"
BUTTON_ICON     ICON "bitmaps/button.ico"
BMPBUTTON_ICON  ICON "bitmaps/bmpbuttn.ico"
STATICTEXT_ICON ICON "bitmaps/stattext.ico"
STATICBMP_ICON  ICON "bitmaps/statbmp.ico"
STATICBOX_ICON  ICON "bitmaps/statbox.ico"
TEXTSING_ICON   ICON "bitmaps/textsing.ico"
TEXTMULT_ICON   ICON "bitmaps/textmult.ico"
LISTBOX_ICON    ICON "bitmaps/listbox.ico"
CHOICE_ICON     ICON "bitmaps/choice.ico"
COMBOBOX_ICON   ICON "bitmaps/combobox.ico"
CHECKBOX_ICON   ICON "bitmaps/checkbox.ico"
SLIDER_ICON     ICON "bitmaps/slider.ico"
GAUGE_ICON      ICON "bitmaps/gauge.ico"
RADIOBOX_ICON   ICON "bitmaps/radiobox.ico"
RADIOBTN_ICON   ICON "bitmaps/radiobtn.ico"
SCROLBAR_ICON   ICON "bitmaps/scrolbar.ico"

#include "wx/msw/wx.rc"

DIALOGBOXTOOL   BITMAP "bitmaps/dialog.bmp"
MESSAGETOOL     BITMAP "bitmaps/message.bmp"
BUTTONTOOL      BITMAP "bitmaps/button.bmp"
CHECKBOXTOOL    BITMAP "bitmaps/check.bmp"
RADIOBOXTOOL    BITMAP "bitmaps/radio.bmp"
LISTBOXTOOL     BITMAP "bitmaps/listbox.bmp"
CHOICETOOL      BITMAP "bitmaps/choice.bmp"
TEXTTOOL        BITMAP "bitmaps/text.bmp"
MULTITEXTTOOL   BITMAP "bitmaps/mtext.bmp"
SLIDERTOOL      BITMAP "bitmaps/slider.bmp"
ARROWTOOL       BITMAP "bitmaps/arrow.bmp"
GROUPTOOL       BITMAP "bitmaps/group.bmp"
GAUGETOOL       BITMAP "bitmaps/gauge.bmp"
PICTURETOOL     BITMAP "bitmaps/picture.bmp"
BMPBUTTONTOOL   BITMAP "bitmaps/bmpbuttn.bmp"
SCROLLBARTOOL   BITMAP "bitmaps/scroll.bmp"

NEWTOOL         BITMAP "bitmaps/new.bmp"
LOADTOOL        BITMAP "bitmaps/load.bmp"
SAVETOOL        BITMAP "bitmaps/save.bmp"
VERTTOOL        BITMAP "bitmaps/vert.bmp"
ALIGNTTOOL      BITMAP "bitmaps/alignt.bmp"
ALIGNBTOOL      BITMAP "bitmaps/alignb.bmp"
ALIGNLTOOL      BITMAP "bitmaps/alignl.bmp"
ALIGNRTOOL      BITMAP "bitmaps/alignr.bmp"
HORIZTOOL       BITMAP "bitmaps/horiz.bmp"
HELPTOOL        BITMAP "bitmaps/help.bmp"
COPYSIZETOOL    BITMAP "bitmaps/copysize.bmp"
TOFRONTTOOL     BITMAP "bitmaps/tofront.bmp"
TOBACKTOOL      BITMAP "bitmaps/toback.bmp"

WXWINBMP        BITMAP "bitmaps/wxwin.bmp"

/*
These files are both invalid and it doesn't appear anyone uses them
tick_bmp                BITMAP  "bitmaps/tick.bmp"
cross_bmp               BITMAP  "bitmaps/cross.bmp"
*/
