body
{
  padding: 0em;
  background: #ffffff; 
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2, h3
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1
{
  font-size: 160%;
  margin: 1.2em 0;
}

h2
{
  font-size: 140%;
  margin: 0.8em 0;
}

h3
{
  font-size: 120%;
  margin: 0.4em 0;
}

hr
{
  margin: 0.8em 0;
}

ul p, ol p, dl p
{
  margin-left: 0em;
}

p
{
  margin-top: .6em;
  margin-bottom: .6em;
}

dt
{
  margin: 0.5em 0em;
}

ul, ol
{
  margin-top: .6em;   
  margin-bottom: 0em;
}

ol
{
  margin-left: 3.6em; 
} 

ul
{
  list-style-type: disc; 
  margin-left: 1.9em; 
}

li
{
  margin-bottom: .6em;
}

tt
{
  font-family: Andale Mono, Courier New, Courier, mono;
}

pre
{
  margin: 0.8em 2em;
  padding: 0.4em;
  font-family: Andale Mono, Courier New, Courier, mono;
  color: #550000;
  background: #eeeeee;
}

table
{
  width: 90%;
  background: #999999;
  margin-top: 0em;
  margin-bottom: .3em;
  background: #ffffff;
}

td
{ 
  margin: .25em;
  padding: 2px 4px;
  background: #eeeeee;
  vertical-align: top;
  font-size: 100%;
}

tr
{ 
  margin: .25em;
  vertical-align: top;
}

a:link    { color: #0066ff; }
a:visited { color: #996600; }
a:hover   { color: #cc9900; }

