mondrian ICON "mondrian.ico"
#include "wx/msw/wx.rc"

reset   BITMAP "bitmaps/reset.bmp"
play    BITMAP "bitmaps/play.bmp"
stop    BITMAP "bitmaps/stop.bmp"
zoomin  BITMAP "bitmaps/zoomin.bmp"
zoomout BITMAP "bitmaps/zoomout.bmp"
north   BITMAP "bitmaps/north.bmp"
east    BITMAP "bitmaps/east.bmp"
south   BITMAP "bitmaps/south.bmp"
west    BITMAP "bitmaps/west.bmp"
center  BITMAP "bitmaps/center.bmp"
life    BITMAP "bitmaps/life.bmp"
