# Name of the application being installed 
#
INSTALLER_APPLICATION=wxInstall
#
# Version of the application being installed 
#
INSTALLER_VERSION=0.1
#
# What the installer says in the title bar 
#
INSTALLER_TITLE=wxInstall Installer
#
# Default install path 
#
INSTALLER_PATH=c:\wxInstall
#
# Bitmap Width to avoid sizing problems 
#
INSTALLER_BITMAP_WIDTH=100
#
# Bitmap Height to avoid sizing problems 
#
INSTALLER_BITMAP_HEIGHT=275
#
# Make WPS Program: Title ,Program name, Icon, Destination, ID, setup 
#
INSTALLER_PROGRAM=wxInstall,%USERPATH%\wxib.exe,,wxInstall,,,DialogEd,%USERPATH%\dialoged.exe,,wxInstall,,
#
# Make WPS Folder: Folder title, Icon, Destination, ID, setup 
#
INSTALLER_FOLDER=wxInstall,,,,
#
# Make WPS Folder: Shadow title, Reference, Destination 
#
INSTALLER_SHADOW=
#
# Make a generic object: Title, Class, Destination, ID, setup
#
INSTALLER_OBJECT=
#
#  Add SETs to the CONFIG.SYS: Variable, Value, flag
#   flag = 1 if the installer should overwrite existing SETs 
#   flag = 2 if the installer should only create it if it is nonexistant 
#                                                           
INSTALLER_SETS=
#
# Add System Variables (LIBPATH, PATH, ETC): SysVariable, Value 
#
INSTALLER_SYSVAR=LIBPATH,%INSTALLPATH%
#
# Adds a line to the Config.Sys replacing an expandables.
#
INSTALLER_SYSLINE=
#
# Number of packages included in this self extractor.
#
INSTALLER_PACKAGE_COUNT=2
#
# List of packages.
#
INSTALLER_PACKAGE=misc.ace,Misc. Files
INSTALLER_PACKAGE=wxinst.ace,wxInstall version 0.1
