# This config file format allows for different people to store their own
# build environment settings. If you want to make considerable changes, then
# you should create your own settings file and specify that to create-release.sh.

# host name of the machine to use for windows builds
WIN_HOST=192.168.1.105

# Where is the build dir from the remote machine's perspective?
WIN_BUILD="/cygdrive/c/wx2dev"

LINUX_HOST=192.168.1.106

LINUX_BUILD=/home/kevino/wx2dev

# the local spot that we put everything when done, before possibly copying 
# to remote hosts
STAGING_DIR=./BUILD

# directory storing the final build files
DIST_DIR=../deliver

# directory to store the wx tree we pull from CVS
WX_TEMP_DIR=/tmp/wx-temp

# build info
BUILD_VERSION=2.7.0
BUILD_TAG=HEAD

KIND="daily"

# so we can setup the Windows dev environment if it is not already done
MSVS7_DIR="C:/Program Files/Microsoft Visual Studio 2003"
MSVC_VERSION=7

# Default build settings
skipwin=no
skipmac=no
skiplinux=no
setup_msvc_for_cygwin=yes

# this can take time too, so turn it off if we know we don't need to.
rebake="no"

# If building is successful, delete temp files?
delete_temps="no"