#include "wx/msw/wx.rc"

close    BITMAP bitmaps/close.bmp
open     BITMAP bitmaps/open.bmp
preview  BITMAP bitmaps/preview.bmp
save     BITMAP bitmaps/save.bmp

control  ICON   bitmaps/control.ico
hsizer   ICON   bitmaps/hsizer.ico
vsizer   ICON   bitmaps/vsizer.ico
panel    ICON   bitmaps/panel.ico
unused   ICON   bitmaps/unused.ico
used     ICON   bitmaps/used.ico
resicon  ICON   bitmaps/resicon.ico
gsizer   ICON   bitmaps/gsizer.ico
