# Ignore temporary files that are generated in course of
# regenerating the lists of known languages, scripts, and synonyms

# exclude database and data files
*.db3
*.txt

# exclude everything in temp
temp/*

# exception to the rule
!temp/.gitkeep
