Logo                    ICON    "bitmaps\\logo.ico"
Col                     ICON    "bitmaps\\col.ico"
DSNClosed               ICON    "bitmaps\\dsnclose.ico"
DSNOpen                 ICON    "bitmaps\\dsnopen.ico"
KEY                     ICON    "bitmaps\\key.ico"
KEYF                    ICON    "bitmaps\\keyf.ico"
TAB                     ICON    "bitmaps\\tab.ico"
VIEW                    ICON    "bitmaps\\view.ico"
DocClosed               ICON    "bitmaps\\d_closed.ico"
DocOpen                 ICON    "bitmaps\\d_open.ico"
FolderClosed            ICON    "bitmaps\\f_closed.ico"
FolderOpen              ICON    "bitmaps\\f_open.ico"
PgmCtrl                 BITMAP  "bitmaps\\pgmctrl.bmp"

#include "wx/msw/wx.rc"
#include "wx/html/msw/wxhtml.rc"
